#container {
  border-radius: 50;
}

#calculatorDisplay {
  background-color: black;
  width: 370px;
  height: 100px;
  text-align: right;
  color: #fff;
  font-size: 50px;
}

button {
  padding: 5px 40px;
}

#decimal {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 44px;
}

#clear {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 28px;
}

.floatDivide {
  display: flex;
}

.floatEquals {
  display: flex;;
}

#equals {
  padding: 49px 38px;
  background-color: #ff7373;
}

#calc {
  background-color: black;
}

.calculatorKeys > *:active::before,
.calculatorKeys > .pressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}